<div class="imgGroup">
    <img class="imgGroup-visual" src="{{ path '/img/media/media-img01.jpg' }}" alt="A starfish on the sea shore.">
    <div class="imgGroup-text">
        <p>Equity and ETF models that have generated returns consistently above major averages over the last 20 years.</p>
    </div>
</div>

<!-- Always stacked -->
<div class="imgGroup stacked">
    <img class="imgGroup-visual" src="{{ path '/img/media/media-img01.jpg' }}" alt="A starfish on the sea shore.">
</div>
