<nav aria-label="Primary Navigation" id="nav" class="primaryNavigation">
    <h2 class="screenreader">Primary navigation</h2>

    <ul class="primaryNavigation-list">
        <li class="primaryNavigation-listItem">
            <a href="/" class="primaryNavigation-link">About us</a>
        </li>
        <li class="primaryNavigation-listItem">
            <a href="/" class="primaryNavigation-link">Contact</a>
        </li>
    </ul>

</nav>
<!-- / Primary navigation -->
