<!-- Social icons -->
<h3>Social icons</h3>
<ul class="no-list social">
        <li>
            <a href="/" class="icon-linkedin" title="Visit our LinkedIn page" rel="external">
                <span class="visuallyhidden">Visit our LinkedIn page</span>
            </a>
        </li>
        <li>
            <a href="/" class="icon-twitter" title="Visit our Twitter page" rel="external">
                <span class="visuallyhidden">Visit our Twitter page</span>
            </a>
        </li>
        <li>
            <a href="/" class="icon-facebook" title="Visit our Facebook page" rel="external">
                <span class="visuallyhidden">Visit our Facebook page</span>
            </a>
        </li>
</ul>
