<span class="visuallyhidden">This text is hidden visually, but is available for screen readers.</span>
<span class="screenreader">This text is hidden visually, but is available for screen readers.</span>
