/* ==========================================================================
   Logo styles
   ========================================================================== */

.logo {
	display: inline-block;
	border-bottom: none;

	// Inline SVG
	svg {
		width: auto;
	}

	// Logo image file
	[src*=".svg"],
	[src*=".png"] {
		max-width: pxToEm(190px, $font-size-base);
	}
}
///////////////////////////////////////////////////////////////////////////////////////
