<div class="textBlock">
    <h3>A title of sorts</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae justo eget magna fermentum. Ac felis donec et odio pellentesque. Nullam ac tortor vitae purus faucibus ornare.</p>
</div>