<footer class="siteFooter">

    <h2 class="screenreader">Website tertiary content</h2>

    <div class="wrap">

        <div class="grid grid-thirds">
            <div class="grid-panel medium-4">
                <a href="/" class="logo" title="Return to the homepage">
                    {{render "@logo"}}
                </a>
            </div>
            <div class="grid-panel medium-4">
                <div class="siteFooter-group contact">
                    <h4 class="siteFooter-title">Contact</h4>
                    <ul class="siteFooter-list">
                        <li class="siteFooter-listItem">
                            <span class="label">Tel:</span>
                            <a href="tel:1-514-4999550">+1 514 499 9550</a>
                        </li>
                        <li class="siteFooter-listItem">
                            <span class="label">Email:</span>
                            <a href="mailto:support@bcaresearch.com">support@bcaresearch.com</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="grid-panel medium-4">
                <div class="siteFooter-group">
                    <h4 class="siteFooter-title">Follow us on:</h4>
                    <ul class="siteFooter-list social">
                        <li>
                            <a href="/" class="icon-linkedin" title="Visit our LinkedIn page" rel="external">
                                <span class="visuallyhidden">Visit our LinkedIn page</span>
                            </a>
                        </li>
                        <li>
                            <a href="/" class="icon-twitter" title="Visit our Twitter page" rel="external">
                                <span class="visuallyhidden">Visit our Twitter page</span>
                            </a>
                        </li>
                        <li>
                            <a href="/" class="icon-facebook" title="Visit our Facebook page" rel="external">
                                <span class="visuallyhidden">Visit our Facebook page</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <small class="siteFooter-signoff">
            &copy; <time datetime="2018">2018</time> BCA Research
        </small>

    </div>

    <!-- Helps assistive technologies -->
    <a class="screenreader" href="#main">Go back to the top of the page?</a>

</footer>
<!-- / Footer content -->
