<blockquote class="quote">
    <p>It's amazing that the amount of news that happens in the world every day always just exactly fits the newspaper.</p>
    <footer>
        <cite>&ndash; Jerry Seinfeld</cite>
    </footer>
</blockquote>
