<section class="sectionBlock has-border">
    <h2>More about us</h2>
    <ol class="no-list grid grid-thirds">
        <li class="grid-panel medium-4">
            <div class="imgGroup stacked">
                <a href="">
					<img class="imgGroup-visual" src="{{ path '/img/common/logo-bca.svg' }}" alt="BCA Research logo">
				</a>
            </div>
        </li>
        <li class="grid-panel medium-4">
            <div class="imgGroup stacked">
                <a href="">
					<img class="imgGroup-visual" src="{{ path '/img/common/logo-bca.svg' }}" alt="BCA Research logo">
				</a>
            </div>
        </li>
        <li class="grid-panel medium-4">
            <div class="imgGroup stacked">
                <a href="">
					<img class="imgGroup-visual" src="{{ path '/img/common/logo-bca.svg' }}" alt="BCA Research logo">
				</a>
            </div>
        </li>
    </ol>
</section>
