<section class="sectionBlock has-border">
    <h2>How we help</h2>
    <div class="grid grid-halves">
        <div class="grid-panel medium-6">
            <p>Since 1949, we’ve supplied independent, rigorous and thought-provoking macro research to the global investment industry. Our clients range from names you see in the news every day to those known only to industry experts.</p>
        </div>
        <div class="grid-panel medium-6">
            <p>Our in-depth, long-term research informs the strategies we recommend, the market analysis we publish and the forecasts we stand by. We’ve been here to help three generations of investment professionals. And our focus on the changing needs of our clients means we’ll be here for the next three.</p>
        </div>
    </div>
</section>
