<div class="sectionBlock background-blue">
    <div class="wrap">
        <div class="grid grid-halves">
            <div class="grid-panel medium-6">
                <p class="h2-style">Trusted. Expert. <br>Independent. <br>Defining investment <br>research since 1949.
                </p>
            </div>
            <div class="grid-panel medium-6">
                <p>Our mission is to help you make better investment decisions by delivering analysis and forecasts of all major asset classes and economies.</p>
            </div>
        </div>
    </div>
</div>

<!-- Larger section with additional grid section -->
<div class="sectionBlock background-blue">
    <div class="wrap">
        <div class="sectionBlock has-border">
            <div class="grid grid-halves">
                <div class="grid-panel medium-6">
                    <p class="h2-style">Trusted. Expert. <br>Independent. <br>Defining investment <br>research since 1949.
                    </p>
                </div>
                <div class="grid-panel medium-6">
                    <p>Our mission is to help you make better investment decisions by delivering analysis and forecasts of all major asset classes and economies.</p>
                </div>
            </div>
        </div>
        <div class="grid grid-thirds">
            <div class="grid-panel medium-4">
                <div class="imgGroup">
                    <img class="imgGroup-visual" src="_dist/_app/img/media/pyramid-white.svg" alt="">
                    <div class="imgGroup-text">
                        <p>Over <strong>70 research staff</strong>, including 20 chief strategists.</p>
                    </div>
                </div>
            </div>
            <div class="grid-panel medium-4">
                <div class="imgGroup">
                    <img class="imgGroup-visual" src="_dist/_app/img/media/analytics-white.svg" alt="">
                    <div class="imgGroup-text">
                        <p>Over <strong>160,000 data series</strong>, proprietary models and leading indicators.</p>
                    </div>
                </div>
            </div>
            <div class="grid-panel medium-4">
                <div class="imgGroup">
                    <img class="imgGroup-visual" src="_dist/_app/img/media/hour-glass-white.svg" alt="">
                    <div class="imgGroup-text">
                        <p>Equity and ETF models that have generated returns consistently above major averages over the last 20 years.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
