<article>

    <!-- Titles / Headers -->
    <h1>Header 1</h1>
    <h2>Header 2</h2>
    <h3>Header 3</h3>
    <h4>Header 4</h4>

    <hr>

    <!-- Paragraph text (default) -->
    <h3>Paragraph text &mdash; 'default'</h3>
    <p>Sed odio morbi quis commodo odio. Nunc congue nisi vitae suscipit tellus mauris a diam. Aenean sed adipiscing diam donec adipiscing. Scelerisque in dictum non consectetur a. Ultrices neque ornare aenean euismod elementum. Dictum varius duis at consectetur lorem. Morbi tristique senectus et netus. </p>

    <hr>

    <!-- Small text -->
    <h3>Paragraph text &mdash; 'small'</h3>
    <p class="copy-small">Sed odio morbi quis commodo odio. Nunc congue nisi vitae suscipit tellus mauris a diam. Aenean sed adipiscing diam donec adipiscing. Scelerisque in dictum non consectetur a. Ultrices neque ornare aenean euismod elementum. Dictum varius duis at consectetur lorem. Morbi tristique senectus et netus.</p>

    <hr>

    <!-- 'Lead' text -->
    <h3>Paragraph text &mdash; 'lead'</h3>
    <p class="copy-lead">Sed odio morbi quis commodo odio. Nunc congue nisi vitae suscipit tellus mauris a diam. Aenean sed adipiscing diam donec adipiscing. Scelerisque in dictum non consectetur a. Ultrices neque ornare aenean euismod elementum. Dictum varius duis at consectetur lorem. Morbi tristique senectus et netus.</p>

    <hr>

    <!-- Article text mix -->
    <header class="heading">
        <h2 class="heading-title">Article structure example</h2>
        <small class="heading-byline">This is the byline</small>
    </header>
    <p class="copy-lead">Sed odio morbi quis commodo odio. Nunc congue nisi vitae suscipit tellus mauris a diam. Aenean sed adipiscing diam donec adipiscing.</p>
    <p>Ultrices neque ornare aenean euismod elementum. Dictum varius duis at consectetur lorem. Morbi tristique senectus et netus. Feugiat nisl pretium fusce id velit ut. Donec ultrices tincidunt arcu non sodales. Facilisis mauris sit amet massa. Eget est lorem ipsum dolor sit amet. Sed velit dignissim sodales ut eu sem integer vitae justo. Ut etiam sit amet nisl.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed odio morbi quis commodo odio. Nunc congue nisi vitae suscipit tellus mauris a diam. Aenean sed adipiscing diam donec adipiscing. Scelerisque in dictum non consectetur a.</p>

</article>
