{{#if linkedin_icon}}
	<span class="icon-linkedin"></span>
{{else if twitter_icon}}
	<span class="icon-twitter"></span>
{{else if facebook_icon}}
	<span class="icon-facebook"></span>
{{else}}
	<span class="icon-linkedin"></span>
	<span class="icon-twitter"></span>
	<span class="icon-facebook"></span>
{{/if}}
